.dark{
    background-color: #1A1D24;
}

.light{
    background-color: #F4F7FA;
}

.wrap_main{
    /* min-height: 100vh; */
    padding: 0 40px;
}

.wrap_route{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    padding-top: 55px;
}

.image_switch{
    display: block;
    justify-content: space-between;
    align-items: flex-end;
}

.wrap_switch{
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.lightpage{
    background-color: #F1F2F6;
    min-height: 100vh;
}

.backpage{
    background-color: #363E4B;
    min-height: 100vh;
}
