* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: "VTBGroupUI";
  src: local("VTBGroupUI"),
   url("./fonts/VTBGroupUI-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "VTBGroupUI";
  src: local("VTBGroupUI"),
   url("./fonts/VTBGroupUI-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "VTBGroupUI";
  src: local("VTBGroupUI"),
   url("./fonts/VTBGroupUI-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "VTBGroupUI";
  src: local("VTBGroupUI"),
   url("./fonts/VTBGroupUI-Medium.ttf") format("truetype");
  font-weight: 500;
}
/* *::-webkit-scrollbar {
  width: 40px;               /* ширина scrollbar */
/* } */
/* *::-webkit-scrollbar-track {
  background: #1A1D24;        /* цвет дорожки */
/* } */
/* *::-webkit-scrollbar-thumb {
  background-color: #363E4B;
  width: 1px;    цвет плашки */
  /* border-radius: 20px;       /* закругления плашки */
  /* border: 5px solid #1A1D24;  padding вокруг плашки */
/* }  */